{% extends "templates/base.html" %}

{% block content %}
	
	<div>
		<h2>Hall of Fame News</h2>
	</div>

	<div>
		<ul>
			<li><a href="#">Current Headlines</a></li>
			<li><a href="#">2011-12 News articles</a></li>
			<li><a href="#">2010-11 News articles</a></li>
			<li><a href="#">2009-10 News articles</a></li>
			<li><a href="#">2008-09 News articles</a></li>
			<li><a href="#">2007-08 News articles</a></li>
			<li><a href="#">2006-07 News articles</a></li>
			<li><a href="#">2005-06 News articles</a></li>
		</ul>
	</div>

{% endblock %}