{% extends "templates/base.html" %}

{% block content %}

	<div>
		<h3>Scholar Athletes</h3>
	</div>

	<div>
		<div>
			<h3>1996</h3>
			<div>
				<h4>Jamie Ahlgren</h4>
				<h5>Mona Shores</h5>
			</div>

			<div>
				<h4>Mike Burde</h4>
				<h5>Newaygo</h5>
			</div>
		</div>

		<div>
			<h3>1997</h3>
			<div>
				<h4>Mandy Stowe</h4>
				<h5>Ludington</h5>
			</div>

			<div>
				<h4>Matt Brink</h4>
				<h5>Fruitport</h5>
			</div>
		</div>

		<div>
			<h3>1998</h3>
			<div>
				<h4>Debbie Killips</h4>
				<h5>Shelby</h5>
			</div>

			<div>
				<h4>Chad Pleiness</h4>
				<h5>Mason County Central</h5>
			</div>
		</div>

		<div>
			<h3>1999</h3>
			<div>
				<h4>Amanda Wagner</h4>
				<h5>North Muskegon</h5>
			</div>

			<div>
				<h4>Paul Dye</h4>
				<h5>Muskegon</h5>
			</div>
		</div>

		<div>
			<h3>2000</h3>
			<div>
				<h4>Cori Jewett</h4>
				<h5>Muskegon Catholic Central</h5>
			</div>

			<div>
				<h4>Nate Mclouth</h4>
				<h5>Whitehall</h5>
			</div>
		</div>

		<div>
			<h3>2001</h3>
			<div>
				<h4>Amber Zoulek</h4>
				<h5>Shelby</h5>
			</div>

			<div>
				<h4>Anthony Parker</h4>
				<h5>Mona Shores</h5>
			</div>
		</div>

		<div>
			<h3>2002</h3>
			<div>
				<h4>Jenny Maleski</h4>
				<h5>Ravenna</h5>
			</div>

			<div>
				<h4>Markus Langlois</h4>
				<h5>Fruitport</h5>
			</div>
		</div>

		<div>
			<h3>2003</h3>
			<div>
				<h4>Kendra Scanlon</h4>
				<h5>Holton</h5>
			</div>

			<div>
				<h4>Drew Naymick</h4>
				<h5>North Muskegon</h5>
			</div>
		</div>

		<div>
			<h3>2004</h3>
			<div>
				<h4>Maggie Dwyer</h4>
				<h5>Grand Haven</h5>
			</div>

			<div>
				<h4>Bud Giddings</h4>
				<h5>Oakridge</h5>
			</div>
		</div>

		<div>
			<h3>2005</h3>
			<div>
				<h4>Lindsey Bayle</h4>
				<h5>Fruitport</h5>
			</div>

			<div>
				<h4>Terrance Taylor</h4>
				<h5>Muskegon</h5>
			</div>
		</div>

		<div>
			<h3>2006</h3>
			<div>
				<h4>Vanessa King</h4>
				<h5>Spring Lake</h5>
			</div>

			<div>
				<h4>Ricky Anderson</h4>
				<h5>Muskegon Heights</h5>
			</div>
		</div>

		<div>
			<h3>2007</h3>
			<div>
				<h4>Kristi Boehm</h4>
				<h5>Kent City</h5>
			</div>

			<div>
				<h4>Ryan VanBergen</h4>
				<h5>Whitehall</h5>
			</div>
		</div>

		<div>
			<h3>2008</h3>
			<div>
				<h4>Laura Karsten</h4>
				<h5>Western Michigan Christian</h5>
			</div>

			<div>
				<h4>Paul Koviak</h4>
				<h5>Holton</h5>
			</div>
		</div>

		<div>
			<h3>2009</h3>
			<div>
				<h4>Marie Roof</h4>
				<h5>Mona Shores</h5>
			</div>

			<div>
				<h4>Jeff Petsch</h4>
				<h5>Montague</h5>
			</div>
		</div>

		<div>
			<h3>2010</h3>
			<div>
				<h4>Annie Steinlage</h4>
				<h5>Spring Lake</h5>
			</div>

			<div>
				<h4>Cody Kater</h4>
				<h5>Montague</h5>
			</div>
		</div>

		<div>
			<h3>2011</h3>
			<div>
				<h4>Lauren Merz</h4>
				<h5>Western Michigan Christian</h5>
			</div>

			<div>
				<h4>Jamie Potts</h4>
				<h5>Oakridge</h5>
			</div>
		</div>

		<div>
			<h3>2012</h3>
			<div>
				<h4>Lauren Hazekamp</h4>
				<h5>Fruitport</h5>
			</div>

			<div>
				<h4>Jason Ribecky</h4>
				<h5>Muskegon Catholic Central</h5>
			</div>
		</div>

		<div>
			<h3>2013</h3>
			<div>
				<h4>Abby Cole</h4>
				<h5>Grand Haven</h5>
			</div>

			<div>
				<h4>Reed Hrynewich</h4>
				<h5>Mona Shores</h5>
			</div>
		</div>

		<div>
			<h3>2014</h3>
			<div>
				<h4>Morgan Giddings</h4>
				<h5>Oakridge</h5>
			</div>

			<div>
				<h4>Deshaun Thrower</h4>
				<h5>Muskegon</h5>
			</div>
		</div>

		<div>
			<h3>2015</h3>
			<div>
				<h4>Taylor Richards</h4>
				<h5>Fruitport Calvery Christian</h5>
			</div>

			<div>
				<h4>Nicholas Holt</h4>
				<h5>Muskegon Catholic Central</h5>
			</div>
		</div>

		<div>
			<h3>2016</h3>
			<div>
				<h4></h4>
				<h5></h5>
			</div>

			<div>
				<h4></h4>
				<h5></h5>
			</div>
		</div>

		

{% endblock %}